<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body >
<center><h1>Whastapp Sentiment Analysis</h1> </center>
<br>
<br>
<br>
<br>
<br>

<center>

<div style="overflow: auto; ">
<img src="data:image/png;base64,{{ indi|safe }}" height="850" >
    <br>
</div>
	<br>
	<br>
	<br>
<div style="overflow: auto">
	

    <img src="data:image/png;base64,{{ full|safe }}">
    </center>
</div >
<h2 align="center">Developed at HCL Ai Hackathon</h2>

</body>
</html>