<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whatsapp Sentiment Analysis</title>
</head>


<style>
    form {
  text-align: center;
}
</style>
{% load static %}
<body style="background-image:url({% static "back2.jpg" %}) ">



<h1 align="center" style="color: white ;font-size:80px" >Welcome to Whatsapp Sentiment Analysis</h1><br><br>

<h2 align="center"  style="color: white ;font-size:50px">Please upload exported data (*.txt) format</h2>


<br><br><br>



<form method="post" action="/process" enctype="multipart/form-data">{% csrf_token %}
  <input type="file" name="data" accept=".txt"><br><br><br><br>
    <button type="submit">Upload Whatsapp Data</button>
</form>



<div>


    <h2 align="center" style="color: white ;font-size:60px">
<a href="/youtube">Youtube Sentiment Analysis</a>
</h2>


<h2 align="center"  style="color: white ;font-size:30px">Developed at HCL Ai Hackathon</h2>




</div>

</body>
</html>